[user]
	name = Jerry Solis
    email = jsouliss@users.noreply.github.com

[core]
    editor = nvim
    pager = delta

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true

[init]
    defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
